/*
Theme Name: Ashe Child
Theme URI: https://www.simpleportfolio.com
Template: ashe
Author: Daniel Petrov
Author URI: https://www.simpleportfolio.com
Version: 1.0.0.1585317547
Updated: 2020-03-27 13:59:07

*/

/* Fix minor visual artefacts */
.footer-menu-container:after {
    content: none !important;
}
.tribe-events-c-top-bar.tribe-events-header__top-bar > nav.tribe-events-c-top-bar__nav.tribe-common-a11y-hidden {
    display: none !important;
}


.strike-title {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
    line-height: 0.1em;
    margin: 30px 0 !important;
}

.strike-title > span {
    background: #fff;
    padding: 0 16px;
}

/* New Holding Form */
#wpforms-111 {
    max-width: 360px;
}

#wpforms-111-field_1 {
    text-transform: uppercase !important;
}


.positive {
    color: #7db33d;
}

.negative {
    color: #da2d2d;
}

.text-center {
    text-align: center !important;
}

.p-16 {
    padding: 16px;
}

.py-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.mb-16 {
    margin-bottom: 16px;
}

.text-muted {
    color: #777 !important;
}

/*
    Home Page
*/
.feature_list {
    max-width: 760px;
    margin: 0 auto;
}

.feature_list ul li {
    margin-bottom: 8px;
}

/* Hide banner on all pages except home */
body:not(.home) .entry-header {
    display: none !important;
}

/* change top menu from horizontal to vertical */
ul#top-menu {
    float: none !important;
}

.top-bar-socials {
    float: none !important;
}

/* Company Search Page */
.company-result {
    padding: 16px;
    text-align: center;
}

/*
    Company Page
*/
.metrics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 720px;
    margin: 0 auto;
}

.metric {
    padding: 16px;
}

.metric__name {
    margin-bottom: 8px;
    font-size: .9em;
    color: #777;
}

.metric__value {
    font-size: 1.1em;
    font-weight: bold;
}

h3.collapsible {
    padding: 24px;
}

@media only screen and (max-width: 600px) {
    h3.collapsible {
        padding: 16px 8px;
    }
}

/* Collapsible sections */
/* Adaptation of https://www.w3schools.com/howto/howto_js_collapsible.asp */
.collapsible {
    cursor: pointer;
}

.collapsible-active, .collapsible:hover {
    background-color: #fcfcfc;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.collapsible:after {
    content: '\02795'; /* + */
    font-size: 14px;
    float: left;
    margin-top: 10px;
}

.collapsible-active:after {
    content: "\2796"; /* - */
}

/* Align "This content is for Premium users" message */
.pmpro_content_message {
    text-align: center;
    margin-bottom: 16px;
}
